<div class="row mt-5">
	  <div class="col-md-5 offset-md-3  center-element">
	<h1 class="mb-5 text-center heading-text">Edit Group</h1>
		<%= render 'form', group: @group %>

 <%= button_to "Back", groups_path  ,class:"btn-signup btn-lg width-100 mb-5", method: :get %>

</div>

</div>
