<div class="row">
    <div class="col-md-4 offset-md-4  center-element">
        <h1 class="mb-5">Sign Up</h1>

        <%= render 'form', user: @user %>


        <small id="usernameHelp" class="form-text text-muted">Already have an account? <%= link_to "Login", login_path() ,class:"alert-link" %></small>


    </div>

</div>