<nav class="navbar navbar-expand-lg navbar-light nav-main-bg">
    <%= link_to "Task Box", current_user,class:"navbar-brand text-white"  %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

        </ul>
        <%= link_to 'Edit', edit_user_path(current_user),class:'nav-link text-white' %>
        <%= link_to "Logout", logout_path,class:'nav-link text-white'  %>
    </div>
</nav>